
    @import "../..//global.scss";

    li{
        font-size: 14px;
        margin-right: 50px;
        padding: 7px;
        border-radius: 10px; //curves the corners of a box to look like a button
        cursor: pointer; //makes the hover a hand so that it's more clear it is a link
        transition: all .7s ease;

        
        
        @include mobile{
        margin-right: 15px;
        padding: 6px;

        }

        &.active{
            background-image: $image; //this is for the buttons
            color: white

        }
    }