.App {

  height: 100vh;
  
 .sections{
   width: 100%;
   height: calc(100vh - 70px); //subtract the topbar height
   background-color: deeppink;
   position: relative;
   top: 70px;
   scroll-behavior: smooth; //for smooth snapback
   scroll-snap-type: y mandatory;
   scrollbar-width: none; //no scroll bar on firefox

   &::-webkit-scrollbar{ //no scrollbar for other web browser
    display: none;
   }
   > *{
     width: 100vw;
     height: calc(100vh - 70px);
     scroll-snap-align: start;

     }

 }
}
