$maincolor: #CF1512;

$image: linear-gradient(to top right, #CF1512 50%, purple 100%);

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

.gradient {
    background: #121FCF;
    background: -webkit-linear-gradient(to top right, #CF1512 50%, purple 100%);
    background: -moz-linear-gradient(to top right, #CF1512 50%, purple 100%);
    background: linear-gradient(to top right, #CF1512 50%, purple 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  //style={{background: "linear-gradient(#e66465, #9198e5);" }}