$maincolor: crimson;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}


.gradient {
    background: #121FCF;
    background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    
  }

